*{
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Bangers', cursive;
    background-color: rgb(181, 240, 232);
}

@font-face {
    font-family:'Raleway' ;
    src: url('../assets/fonts/Raleway.ttf');
}

@font-face {
    font-family:'Bangers' ;
    src: url('../assets/fonts/Bangers.ttf');
}

header {
    text-align: center;
    padding: 10px;
    /*Esta parte no esta aqctriva para que se pueda ver que el header lleva un logo al centro */
    /*
    background-image: url('https://via.placeholder.com/1000x400');
    background-size: cover;
    background-repeat: no-repeat;*/
}

.menuPrincipal {
    display: inline-flex;
    position: relative;
    bottom: 60px;
    font-size: 200%;
    margin: 5%;
    transition: .5s;
}

.menuPrincipal:hover{
    transform: scale(1.1);
}

.homeImage {
    width: 100%;
    height: auto;
    margin: 1%;
}

.mainDisplay {
    text-align: center;
    margin: 10%;
}

#mainImg {
    filter: blur(2px);
    transition: all .5s;
    border-radius: 100px;
}

#mainImg:hover {
    filter: blur(0);
    transform: scale(1.2);
    z-index: 2;
    position: relative;
    cursor: pointer;
    outline: solid 2px black;
}

.prodImg {
    transition: .5s;
    border-radius: 10px;
}

.prodImg:hover {
    transform: scale(1.2);
    z-index: 2;
    position: relative;
    cursor: pointer;
    border-radius: 100px;
    outline: solid 2px orange;
}

.tituloSeccion {
    background-color: rgb(204, 42, 42);
    text-align: center;
}

#abtus {
    display: inline-flex;
    padding: 5%;
    margin: 5%;
    text-align: center;
    text-indent: 20px;
}

#prodMenu{
    display:inline-block;
    text-align: left;
    width: 60%;
    height: 200px;
}

#prodImage{
    text-align: center;
    display: flex;
    position: relative;
    left: 10%;
    bottom: 195px;
}

#userContact {
    text-align: center;
    padding: 5%;
    margin: 5%;
}

footer {
    font-family: 'Raleway', sans-serif;
}
#newsFooter{
    text-align: left;
    position: relative;
    top: 110px;
    width: 160px;
    height: 50px;
}

#imageFooter{
    text-align: center;
    position: relative;
    top: 70px;
}

#socialFooter {
    display:grid;
    text-align: right;
}
input:focus {
    background-color: rgb(69, 219, 194);
}